.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    padding: 20px;
    /* background-color: #e6f0fa; */
}

.auth-form-card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.auth-form-card .ant-card-body {
    padding: 32px;
}
.ant-checkbox-wrapper {
    margin-bottom: 16px;
    font-size: 14px;
    text-align: left !important;
}

.ant-form-item {
    text-align: left;
}