.ant-tabs-ink-bar {
    display: none !important;
}

.ant-tabs-ink-bar::before {
    display: none !important;
}
html, body, #root {
  font-family: Quicksand, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}
